body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
}

.temperature-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
}

.hot {
  background-color: darkorange;
}

.warm {
  background-color: salmon;
}

.medium {
  background-color: lightsalmon;
}

.cold {
  background-color: lightblue;
}