body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* color: white; */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
  box-sizing: border-box;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
}

h1, h2 {
  font-weight: 600;
}

form {
  display: flex;
  flex-direction: column;
  text-align: center;
}

form input {
  border: 0;
  border-bottom: 1px solid #b1b1b1;
  padding: 0.5rem;
  text-align: center;
  width: 80%;
  margin: auto;
}

form input::placeholder, form input {
  font-size: 1rem;
}

form label {
  display: none;
}

form button:hover {
  cursor: pointer;
}

#inputErrWrapper {
  color: red;
  font-size: 0.9rem;
  height: 1.5rem;
  padding: 0.2rem;
  margin: 0;
}

.current-temp-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
}

.current-temp-wrapper h2, .hourly-forcast-heading {
  margin: 0 0 1rem 0;
  font-weight: 100;
}

.current-temp-wrapper p {
  margin: 0;
  font-size: 1.8rem;
}

.hourly-forcast-wrapper {
  width: 90vw;
  height: 150px;
  white-space: nowrap;
  overflow-x: scroll;
}

.hourly-forcast-wrapper div {
  display: inline-block;
  margin: 0 0.5rem;
}

.hourly-forcast-wrapper p {
  margin-top: 0;
}

.hourly-forcast-wrapper div img {
  width: 50px;
}

.fade-in {
  animation: fadeIn ease 2s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.icon-wrapper {
  height: 100px;
  width: 100px;
}

footer {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  bottom: 0;
  width: 100vw;
  padding-bottom: 1rem;
}

footer p {
  width: 50%;
}

footer img {
  width: 10rem;
}